@model UniFi.Models.Affiliate

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Details</h1> *@

<div class="m-5" style="color: whitesmoke;">
    @* <h4>Affiliate</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wallet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AffiliateCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AffiliateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
    </dl>
</div>
<div class="m-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
