@model IEnumerable<UniFi.Models.Product>

@{
	var count1 = 0;
}
<style>

	@@media (max-width: 767px) {
		.carousel-inner .carousel-item > div {
			display: none;
		}
		.carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	/* medium and up screens */
	@@media (min-width: 768px) {

		#recipeCarousel1.carousel .carousel-inner .carousel-item-end.active,
		#recipeCarousel1.carousel .carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		#recipeCarousel1.carousel .carousel-inner .carousel-item-start.active, 
		#recipeCarousel1.carousel .carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	#recipeCarousel1.carousel .carousel-inner .carousel-item-end,
	#recipeCarousel1.carousel .carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}

</style>


<div class="container text-center my-3">
		<div class="row mx-auto my-auto justify-content-center">
			<div id="recipeCarousel1" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">

				<div class="clearfix">
				<div class="float-start">
					<h3>SERVICES</h3>
				</div>

				<div class="float-end">
				
				<a class="bg-transparent float-start" href="#recipeCarousel1" role="button" data-bs-slide="prev">
					<img src="~/images/bi_arrow-down-right-circle.svg" class="d-block w-100" alt="..."></img>
				</a>
				<a class="bg-transparent float-end" href="#recipeCarousel1" role="button" data-bs-slide="next">
					<img src="~/images/bi_arrow-down-left-circle.svg" class="d-block w-100" alt="..."></img>
				</a>

				</div>
				</div>

				<div class="carousel-inner" role="listbox">
@foreach (var item in Model) {
        if (item.Service == true)
        {
			if (count1 <= 0)
			{
				count1++;

				<div class="carousel-item active">
					<div class="col">
						<div class="card text-center mx-2" style="background-color: #0C072A; border-radius: 16px;">
							<img src="@Url.Content(item.Image)" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
									<h5 class="card-title">$ @Html.DisplayFor(modelItem => item.Price)</h5>
									<a href="@Url.Action("Buy", "Cart", new { id = item.Id })" class="btn btn-primary" style="border-radius: 12px; border-color: #EB4823; background-color: #FCD9BB; color: #EB4823;">Add to cart</a>
									 <a href="@Url.Action("ProductDetails", "Brands", new { id = item.Id })" class="btn btn-primary" style="background-color: #215BA0; border-color: #215BA0; border-radius: 12px;">View Service</a>
								</div>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="carousel-item">
					<div class="col">
						<div class="card text-center mx-2" style="background-color: #0C072A; border-radius: 16px;">
							<img src="@Url.Content(item.Image)" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
									<h5 class="card-title">$ @Html.DisplayFor(modelItem => item.Price)</h5>
									<a href="@Url.Action("Buy", "Cart", new { id = item.Id })" class="btn btn-primary" style="border-radius: 12px; border-color: #EB4823; background-color: #FCD9BB; color: #EB4823;">Add to cart</a>
									 <a href="@Url.Action("ProductDetails", "Brands", new { id = item.Id })" class="btn btn-primary" style="background-color: #215BA0; border-color: #215BA0; border-radius: 12px;">View Service</a>
								</div>
						</div>
					</div>
				</div>			
			}
		}
}
					
				</div>

			</div>
		</div>		
	</div>




    <script>

		let container1 = document.querySelector("#recipeCarousel1");
		let items1 = container1.querySelectorAll('.carousel .carousel-item')

		items1.forEach((el1) => {
			const minPerSlide1 = 4
			let next1 = el1.nextElementSibling
			for (var i=1; i<minPerSlide1; i++) {
				if (!next1) {
            // wrap carousel by using first child
            next1 = items1[0]
        }
        let cloneChild1 = next1.cloneNode(true)
        el1.appendChild(cloneChild1.children[0])
        next1 = next1.nextElementSibling
    }
});

//		let container1 = document.querySelector("#recipeCarousel1");
//		let items1 = container1.querySelectorAll('.carousel .carousel-item')

//		items1.forEach((el1) => {
//			const minPerSlide1 = 4
//			let next1 = el1.nextElementSibling
//			for (var i1=1; i<minPerSlide1; i1++) {
//				if (!next1) {
//            // wrap carousel by using first child
//            next1 = items1[0]
//        }
//        let cloneChild1 = next1.cloneNode(true)
//        el1.appendChild(cloneChild1.children[0])
//        next1 = next1.nextElementSibling
//    }
//});

    </script>

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
