@model IEnumerable<UniFi.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltImage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltImage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltImage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltImage3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
